# Replace with your Calendly booking URL (e.g. https://calendly.com/yourname/strategy-call)
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_jtibkeo
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_e6y7o0r
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=ytQzND-sSB_TkISCl
